* {
  --pink: #FF8FFF;
  --red: #FF0047;
  --green: #0E443D;
  --purple: #7F40E0;
  --black: #110E09;

  --lineHeight: 22px;
}

body {
  font-family: "bd-supper", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--purple);
  background-color: var(--pink);
  font-size: 18px;
  line-height: var(--lineHeight);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#step2{
  display: none;
}

main{
  min-height: 100vh;
  max-width: 400px;
  /* height: 100%; */
  border-image-source: url("../../assets/images/border.png");
  border-image-width: calc(var(--lineHeight)*1);
  border-image-slice: 25%;
  border-image-repeat: round;
  background-color: var(--black);
  padding: calc(var(--lineHeight)*2);
  overflow: scroll;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
}

.p5Canvas{
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

h1{
  font-size: 3.8em;
  line-height: calc(var(--lineHeight)*2.5);
  color: #FF0047;
}

p{
  font-size: 1.25em;
  line-height: calc(var(--lineHeight)*1);
}

.topText{
  margin-bottom:  calc(var(--lineHeight)*1);  ;
  margin-top:  calc(var(--lineHeight)*0.5);  ;

}

input[type=text] {
  width: 100%;
  height: calc(var(--lineHeight)*2);
  padding: calc(var(--lineHeight)*0.5);
  margin-bottom: calc(var(--lineHeight)*1);
  border: none; 
  border-radius: calc(var(--lineHeight)*0.6);
  background-color: var(--green);
  color: var(--pink);
  text-align: center;
  font-size: 1.5em;
  font-family: "bd-supper", sans-serif;
  font-weight: 400;
  outline: none;
  transition: 0.2s;
  font-style: normal;
}

input[type=text]:focus {
  background-color: var(--purple);

}
.checkbox {
  display: none;
}

label {
  font-size: 1.25em;
}

.checkbox-label {
  display: inline-block;
  background-color: var(--green);
  width: 100%;
  font-size: 1.5em;
  height: calc(var(--lineHeight)*2);
  padding: calc(var(--lineHeight)*0.5);
  border-radius: calc(var(--lineHeight)*0.6);
  color: var(--pink);
  transition: 0.2s;
  margin-top: calc(var(--lineHeight)*0.5);
  text-align: center;
}

:checked + .checkbox-label {
  background-color: var(--red);
}

.button {
  background-color: var(--purple);
  border: none;
  border-radius: 100%;
  width: calc(var(--lineHeight)*4);
  height: calc(var(--lineHeight)*4);;
  padding: calc(var(--lineHeight)*1);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  transition: 0.2s;
  margin-top: calc(var(--lineHeight)*1);
}

.button:active {
  background-color: var(--red);
  transform: translate(-50%,0) scale(1.05,1.05);

}

#imageSelectorContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: calc(var(--lineHeight)*6);
  display: none;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  z-index: 1;
  max-width: 400px;
}

.imageSelector{
  padding: calc(var(--lineHeight)*1);;
  height: calc(var(--lineHeight)*6);
  max-width: calc(var(--lineHeight)*8);
  transition: 0.2s ease-in-out;
}

.imageSelector:hover{
  scale: 115%;
}

@media screen and (max-device-width:500px), screen and (max-width:500px) {
  #imageSelectorContainer {
    width: 100vw;
  }

  main{
    max-width: 100vw;  
}
}